.modal {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: transparent;
    z-index: 1000;

    .modal-container {
        width: 758px;
        height: 436px;

        position: fixed;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        border: 1px;
        border-radius: 10px;

        padding: 70px 100.37px 77px 100px;

        .modal-container-element {
            width: 100%;
            height: 100%;
        }
        .modal-container-options {
            gap: 20.79px;
        }
    }
}