.modal-element {
    height: 100%;

    .modal-element-container {
        height: 100%;

        .modal-element-container-title {
            padding-bottom: 57px;
        }

        .modal-element-container-task {
            height: 100%;
        }
    }
}